<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta title="Atualização de Produto - ERP">
</head>
<body>
    
    <h1>Formulário para Atualizar um Produto</h1>

    {% if produto %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if produto.imagem %}
            <td><img src="{{ produto.imagem.url }}" alt="Imagem do {{ produto.nome }}" width="200px"></td>
        {% endif %}

        {{ form }}
        
        <button type="submit">Atualizar Produto</button>
    </form>
    {% else %}
        <p>Produto não encontrado.</p>
    {% endif %}

</body>
</html>